{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>
    <form method="post">
    	{{form.as_p}}
    	{% csrf_token %}
    	<button type="submit">Login</button>
    </form>
{% endblock content %}