{% extends "base.html" %}

{% block content %}
    <h2>Sign Up</h2>
    <form method = 'post'>
    	{{form.as_p}}
    	{% csrf_token %}
    	<button type="submit">Sign Up</button>
    </form>
{% endblock content %}