{% extends "base.html" %}

{% block content %}
    {% for post in object_list %}
	<div class="post-entry">
		<h2><a href="{{post.get_absolute_url }}">{{post.title}}</a></h2>
		<p>{{post.body|truncatewords:20|linebreaks}}</p>
	</div>

    {% endfor %}
{% endblock content %}