{% extends "base.html" %}

{% block content %}
    <h1>New Post</h1>
    <form action="" method="post">
    	{{form.as_p}}
    	{% csrf_token %}
    	<input type="submit" value = "Save">
    </form>
{% endblock content %}