{% extends "base.html" %}

{% block content %}
    <h1>Edit Post</h1>
    <form action="" method = 'post'>
    	{{form.as_p}}
    	{% csrf_token %}
    	<input type="submit" value = 'Update'>
    </form>
{% endblock content %}