{% extends "base.html" %}

{% block content %}
    <div class="post-entry">
    	<h1>{{object.title}}</h1>
    	<p>{{post.body}}</p>
    </div>
	<p><a href="{% url "blog:post_edit" object.pk %}">+ Edit Blog Post</a></p>

	<p><a href="{% url "blog:post_delete" object.pk %}">+ Delete This Post</a></p>
{% endblock content %}