<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}
	    Blog Django
	{% endblock title %} </title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/base.css' %}" >

</head>
<body>
	<div class="container">
		<header>
			<div class="nav-left">
				<h1><a href="/">Django Blog</a></h1>
			</div>
			<div class="nav-right">
				<a href="{% url "blog:post_new" %}">+ New Blog Post</a>
			</div>
		</header>
	</div>
	{% if user.is_authenticated %}
		<p>Hi {{user.username}}</p>
		<p><a href="{% url 'logout' %}">Logout</a></p>
	{% else %}
		<p>You are not logged in.</p>
		<a href="{% url "login" %}">Login</a>
	{% endif %}
		 
	<div class="container">
		{% block content %}
	    
		{% endblock content %}
	</div>
</body>
</html>